In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [66]:
df=pd.read_csv(r"C:\Users\Admin\Downloads\adult_with_headers.csv")

In [67]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [68]:
df.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [70]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [71]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [72]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns


standard_scaler = StandardScaler()
df_standard_scaled = df.copy()
df_standard_scaled[numerical_columns] = standard_scaler.fit_transform(df[numerical_columns])

print("\nData after Standard Scaling (first few rows):")
print(df_standard_scaled.head())

Data after Standard Scaling (first few rows):
        age          workclass    fnlwgt   education  education_num  \
0  0.030671          State-gov -1.063611   Bachelors       1.134739
1  0.837109   Self-emp-not-inc -1.008707   Bachelors       1.134739
2 -0.042642            Private  0.245079     HS-grad      -0.420060
3  1.057047            Private  0.425801        11th      -1.197459
4 -0.775768            Private  1.408176   Bachelors       1.134739

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0      0.148453      -0.21666       -0.035429   United-States   <=50K
1     -0.145920      -0.21666       -2.222153   United-States   <=50K
2     -0.145920      -0.21666       -0.035429   United-States   <=50K
3     -0.145920      -0.21666       -0.035429   United-States   <=50K
4     -0.145920      -0.21666       -0.035429            Cuba   <=50K

In [73]:
minmax_scaler = MinMaxScaler()
df_minmax_scaled = df.copy()
df_minmax_scaled[numerical_columns] = minmax_scaler.fit_transform(df[numerical_columns])

print("\nData after Min-Max Scaling (first few rows):")
print(df_minmax_scaled.head())

Data after Min-Max Scaling (first few rows):
        age          workclass    fnlwgt   education  education_num  \
0  0.301370          State-gov  0.044302   Bachelors       0.800000
1  0.452055   Self-emp-not-inc  0.048238   Bachelors       0.800000
2  0.287671            Private  0.138113     HS-grad       0.533333
3  0.493151            Private  0.151068        11th       0.400000
4  0.150685            Private  0.221488   Bachelors       0.800000

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0       0.02174           0.0        0.397959   United-States   <=50K
1       0.00000           0.0        0.122449   United-States   <=50K
2       0.00000           0.0        0.397959   United-States   <=50K
3       0.00000           0.0        0.397959   United-States   <=50K
4       0.00000           0.0        0.397959            Cuba   <=50K

In [74]:
"""
Standard Scaling: This transforms the numerical features such that they have a mean of 0 and a standard deviation of 1. This is useful for data that follows a normal distribution.
Min-Max Scaling: This scales the features to a range of [0, 1]. This is useful when all features need to be on the same scale for certain algorithms.
"""

'\nStandard Scaling: This transforms the numerical features such that they have a mean of 0 and a standard deviation of 1. This is useful for data that follows a normal distribution.\nMin-Max Scaling: This scales the features to a range of [0, 1]. This is useful when all features need to be on the same scale for certain algorithms.\n'

In [75]:
categorical_columns = df.select_dtypes(include=['object']).columns

columns_to_encode = [col for col in categorical_columns if df[col].nunique() < 5]

df_encoded = pd.get_dummies(df, columns=columns_to_encode, drop_first=True)

print("\nData after One-Hot Encoding (first few rows):")
print(df_encoded.head())

print("\nUpdated columns after One-Hot Encoding:")
print(df_encoded.columns)

Data after One-Hot Encoding (first few rows):
   age          workclass  fnlwgt   education  education_num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital_status          occupation    relationship    race  \
0        Never-married        Adm-clerical   Not-in-family   White
1   Married-civ-spouse     Exec-managerial         Husband   White
2             Divorced   Handlers-cleaners   Not-in-family   White
3   Married-civ-spouse   Handlers-cleaners         Husband   Black
4   Married-civ-spouse      Prof-specialty            Wife   Black

   capital_gain  capital_loss  hours_per_week  native_country  sex_ Male  \
0          2174             0              40   United-States       True
1             0             0              13   United-States       True
2             0             0              40   United-States       True
3             0             0              40   United-States       True
4             0             0              40            Cuba      False

   income_ >50K
0         False
1         False
2         False
3         False
4         False

Updated columns after One-Hot Encoding:
Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'sex_ Male',
       'income_ >50K'],
      dtype='object')

In [76]:
from sklearn.preprocessing import LabelEncoder

categorical_columns = df.select_dtypes(include=['object']).columns

columns_to_label_encode = [col for col in categorical_columns if df[col].nunique() > 5]

label_encoder = LabelEncoder()
for col in columns_to_label_encode:
    df[col] = label_encoder.fit_transform(df[col])

print("\nData after Label Encoding (first few rows):")
print(df.head())

print("\nUpdated column data types:")
print(df.dtypes)

Data after Label Encoding (first few rows):
   age  workclass  fnlwgt  education  education_num  marital_status  \
0   39          7   77516          9             13               4
1   50          6   83311          9             13               2
2   38          4  215646         11              9               0
3   53          4  234721          1              7               2
4   28          4  338409          9             13               2

   occupation  relationship    race      sex  capital_gain  capital_loss  \
0           1             1   White     Male          2174             0
1           4             0   White     Male             0             0
2           6             1   White     Male             0             0
3           6             0   Black     Male             0             0
4          10             5   Black   Female             0             0

   hours_per_week  native_country  income
0              40              39   <=50K
1              13              39   <=50K
2              40              39   <=50K
3              40              39   <=50K
4              40               5   <=50K

Updated column data types:
age                int64
workclass          int32
fnlwgt             int64
education          int32
education_num      int64
marital_status     int32
occupation         int32
relationship       int32
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country     int32
income            object
dtype: object

In [77]:

"""
One-Hot Encoding
Pros:
Avoids ordinal bias.
Suitable for linear models and neural networks.
Cons:
High dimensionality for high-cardinality variables.
Computationally expensive for large datasets.
"""
"""
Label Encoding
Pros:
Compact and efficient for high-cardinality variables.
Works well with tree-based models like Random Forests and XGBoost.
Cons:
May introduce unintended ordinal relationships.
Less interpretable for high-cardinality data.
"""

'\nLabel Encoding\nPros:\nCompact and efficient for high-cardinality variables.\nWorks well with tree-based models like Random Forests and XGBoost.\nCons:\nMay introduce unintended ordinal relationships.\nLess interpretable for high-cardinality data.\n'

In [78]:
# sge as feature


def categorize_age(age):
    if age < 30:
        return 'Young'
    elif 30 <= age < 50:
        return 'Middle-aged'
    else:
        return 'Senior'

df['age_category'] = df['age'].apply(categorize_age)

print("\nUnique values in 'age_category':")
print(df['age_category'].unique())

Unique values in 'age_category':
['Middle-aged' 'Senior' 'Young']

In [79]:
#Work hours per category as feature

def categorize_work_hours(hours):
    if hours < 20:
        return 'Part-time'
    elif 20 <= hours <= 40:
        return 'Full-time'
    else:
        return 'Overtime'

# Create the new feature
df['work_hours_per_week_category'] = df['hours_per_week'].apply(categorize_work_hours)

print("\nUnique values in 'work_hours_per_week_category':")
print(df['work_hours_per_week_category'].unique())

Unique values in 'work_hours_per_week_category':
['Full-time' 'Part-time' 'Overtime']

In [80]:

print("\nSkewness of 'capital_gain' before transformation:")
print(df['capital_gain'].skew())

df['log_capital_gain'] = np.log1p(df['capital_gain'])

print("\nSkewness of 'capital_gain' after log transformation:")
print(df['log_capital_gain'].skew())

print("\nFirst few rows with transformed 'log_capital_gain':")
print(df[['capital_gain', 'log_capital_gain']].head())

Skewness of 'capital_gain' before transformation:
11.953847687699799

Skewness of 'capital_gain' after log transformation:
3.096143524467517

First few rows with transformed 'log_capital_gain':
   capital_gain  log_capital_gain
0          2174          7.684784
1             0          0.000000
2             0          0.000000
3             0          0.000000
4             0          0.000000

In [81]:
"""
Justification:
Skewed Data: If capital_gain has a right skew (which is likely in real-world data), applying a log transformation helps make the distribution more symmetrical and improves the model’s performance.
Linear and Distance-Based Models: These models tend to perform better when the data is normally distributed, as they assume equal variance and linearity.
"""

'\nJustification:\nSkewed Data: If capital_gain has a right skew (which is likely in real-world data), applying a log transformation helps make the distribution more symmetrical and improves the model’s performance.\nLinear and Distance-Based Models: These models tend to perform better when the data is normally distributed, as they assume equal variance and linearity.\n'

In [82]:
from sklearn.ensemble import IsolationForest
iso_forest = IsolationForest(contamination=0.05, random_state=42)

numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns
df_numerical = df[numerical_columns]

outliers = iso_forest.fit_predict(df_numerical)

df['outlier'] = outliers == -1

df_cleaned = df[df['outlier'] == False].drop(columns=['outlier'])

print(f"\nNumber of outliers detected: {df['outlier'].sum()}")
print(f"Dataset shape before and after outlier removal: {df.shape} -> {df_cleaned.shape}")

Number of outliers detected: 1628
Dataset shape before and after outlier removal: (32561, 19) -> (30933, 18)

In [83]:
"""
How Outliers Can Affect Model Performance:
Skewing Results:
Outliers can skew the model’s understanding of the data, leading to biased predictions or estimates, especially in models that are sensitive to the distribution of the data.
Impact on Training:
For linear models: Outliers can disproportionately affect the model’s parameters, leading to poor generalization.
For distance-based models (e.g., KNN, SVM): Outliers can distort the distance metrics and lead to misclassification or incorrect predictions.
For tree-based models: Outliers generally have less impact, but excessive outliers can still reduce model performance and interpretation.
Model Overfitting:
The model might overfit to outliers, learning the noise rather than the underlying patterns, leading to poor generalization on unseen data.
"""

'\nHow Outliers Can Affect Model Performance:\nSkewing Results:\nOutliers can skew the model’s understanding of the data, leading to biased predictions or estimates, especially in models that are sensitive to the distribution of the data.\nImpact on Training:\nFor linear models: Outliers can disproportionately affect the model’s parameters, leading to poor generalization.\nFor distance-based models (e.g., KNN, SVM): Outliers can distort the distance metrics and lead to misclassification or incorrect predictions.\nFor tree-based models: Outliers generally have less impact, but excessive outliers can still reduce model performance and interpretation.\nModel Overfitting:\nThe model might overfit to outliers, learning the noise rather than the underlying patterns, leading to poor generalization on unseen data.\n'